@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  *::-webkit-scrollbar {
    width: 0.5em;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  